{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Create A New Blog Post"|capfirst %}{% endblock %}
{% block content %}

<div class="add-post-container">
    {% if user.is_authenticated %}
    <h1 class="add-post-title">{% trans "Add Post"|capfirst %}</h1>

        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <hr>
                <div class="form-actions">
                    <button class="custom-button">{% trans "Post"|capfirst %}</button>
                    <a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
                </div>
            </form>
        </div>
    {% else %}
    <h2 class="access-denied">{% trans "Access denied!"|capfirst %}
        <br>
        {% trans "Please log in to this page!"|capfirst %}</h2>   
    {% endif %}
</div>
{% endblock %}
