{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "comment on blog post"|title %}{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <h1>{% trans "add comment:"|title %}</h1>

    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <hr>
            <button class="btn btn-secondary">{% trans "add comment"|title %}</button>
            <a href="{% url 'discussion' %}" class="btn btn-secondary">{% trans "return to homepage"|title %}</a>
        </form>
    </div>
{% else %}

    <h2>{% trans "Access denied! Please log in to this page!" %}</h2>
  
{% endif %}

{% endblock %}
