{% extends 'discussion/base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
{% if category_posts %}
    <h1>{{ cats }}</h1>
    <br>
    <br>
    
<ul>
{% for post in category_posts %}
    <li><a href="{% url 'article_detail' post.pk %}">
        {{ post.title }}</a>
        - {{ post.category }}
        - {{ post.author.first_name }} 
        {{ post.author.last_name }} -
        {{ post.created_at }}

        <small>
            {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                - <a href="{% url 'update_post' post.pk %}">Redaguoti pranešimą</a>
                    <span style="margin-right: 5px;"></span>
                    <a href="{% url 'delete_post' post.pk %}">Ištrinti pranešimą</a>
                {% endif %}
            {% endif %}
        </small>
        <br>
        <br>
        {{ post.content | safe }}
    </li>
    <br>
    <br>
{% endfor %}
</ul>

{% else %}
    <h2>Atsiprašome, šis puslapis neegzistuoja!</h2>
    <br>
    <br>
    <a href="{% url 'discussion' %}" class="btn btn-secondary">Grįžti</a>
{% endif %}

{% endblock %}
