{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Delete Post"|capfirst %}{% endblock %}
{% block content %}

<div class="delete-post-container">
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>{% trans "Delete Post"|capfirst %}:</h1>

            <h3>{% trans "Delete"|capfirst %}: {{ post.title }}</h3>

            <div class="form-group">
                <form method="POST" class="delete-post-form">
                    {% csrf_token %}
                    <strong>{% trans "Are You Sure You Want to Delete This Post?"|capfirst %}</strong>
                    <div class="form-actions">
                        <button class="custom-button">{% trans "Delete Post"|capfirst %}</button>
                        <a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
                    </div>
                </form>
            </div>
        {% else %}
            <h2>{% trans "Access denied!"|capfirst %}
            <br>
            {% trans "Please log in to this page!"|capfirst %}</h2>
        {% endif %}

    {% else %}
        <h2>{% trans "Access denied!"|capfirst %}
        <br>
        {% trans "Please log in to this page!"|capfirst %}</h2>
    {% endif %}
</div>
{% endblock %}
