{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div class="discussion-board-container">
    <h1 class="discussion-board-title">{% trans "Discussion Board"|capfirst %}:</h1>
    <ul class="posts-list">
    {% for post in object_list %}
        <li class="post-item">
            <a href="{% url 'article_detail' post.pk %}">{{ post.title }}</a>
            - <a href="{% url 'category' post.category %}">{{ post.category }}</a>
            - {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.created_at }}
            <small class="post-actions">
                {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                        - <a href="{% url 'update_post' post.pk %}">{% trans "Edit message"|capfirst %}</a>
                        <span class="actions-spacer"></span>
                        <a href="{% url 'delete_post' post.pk %}">{% trans "Delete message"|capfirst %}</a>
                    {% endif %}
                {% endif %}
            </small>
            <div class="post-snippet">{{ post.snippet }}</div>
        </li>
        <hr>
    {% endfor %}
    </ul>
</div>

{% endblock %}
