{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Update Comment"|capfirst %}{% endblock %}
{% block content %}

<div class="update-comment-container">
    {% if user.is_authenticated %}
        {% if comment.author == user %}
        <h1 class="update-comment-title">{% trans "Edit Comment"|capfirst %}:</h1>

            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <div class="form-actions">
                        <button class="custom-button">{% trans "Update"|capfirst %}</button>
                        <a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
                    </div>
                </form>
            </div>
        {% else %}
            <h2 class="access-denied">{% trans "Access denied!"|capfirst %}
            <br>
            {% trans "Please log in to this page!"|capfirst %}</h2>
        {% endif %}
        
    {% else %}
        <h2 class="access-denied">{% trans "Access denied!"|capfirst %}
        <br>
        {% trans "Please log in to this page!"|capfirst %}</h2>
    {% endif %}
</div>

{% endblock %}
