{% extends 'discussion/base.html' %}
{% load static %}
{% block title %}Edit Profile Page{% endblock %}
{% block content %}

<div class="edit-profile-page-container">
    {% if user.is_authenticated and user.id == profile.user.id %}
        <h1 class="edit-profile-page-title">Edit Profile Page</h1>
        <form method="POST" enctype="multipart/form-data" class="profile-edit-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-actions">
                <input type="submit" value="Update Profile Page" class="custom-button">
                <a href="{% url 'discussion' %}" class="custom-button">Return To Homepage</a>
            </div>
        </form>
    {% else %}
        <h2 class="access-denied">Access denied!
            <br>
            You are not allowed to edit this page!</h2>
    {% endif %}
</div>
{% endblock %}
