.custom-button {
    background-color: #6c757d;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 0.40rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.custom-button:hover {
    background-color: #5a6268;
}

.buttons-container, .form-actions {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
}

.container {
    margin: 0px auto 2rem;
    width: 1200px;
    padding-bottom: 2rem;
}


/*********************************************************************************/
/* Discussion Board Form                                                      */
/*********************************************************************************/

.discussion-board-container {
    margin: 2rem auto;
}

.discussion-board-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.posts-list {
    list-style: none;
    padding-left: 0;
}

.post-item {
    margin-bottom: 3rem;
}

.post-actions {
    display: inline-block;
    margin-left: 5px;
}

.actions-spacer {
    margin-right: 5px;
}

.post-snippet {
    margin-top: 0.5rem;
}


/*********************************************************************************/
/* Registration Form                                                             */
/*********************************************************************************/

.registration-container {
    width: 700px;
    margin: 2rem auto;
    margin-left: 0;
    margin-right: auto;
}

h1.registration-form-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: .5em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group div[style*="color: red;"] {
    color: #d9534f;
    font-size: 0.9em;
    margin-top: 5px;
}

.form-group small {
    display: block;
    margin-top: 5px;
}


/*********************************************************************************/
/* Login Form                                                                    */
/*********************************************************************************/

.login-container {
    margin: 2rem auto;
}

.login-form-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}
  
.login-form p {
    margin-bottom: 30px;
}

.form-actions,
.auth__actions,
.auth__alternative {
    margin-top: 2rem;
}


/*********************************************************************************/
/* Password Change Form                                                          */
/*********************************************************************************/

.password-change-container {
    margin: 2rem auto;
}

h1.password-change-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.password-change-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.password-change-form p {
    margin-bottom: 30px;
}


/*********************************************************************************/
/* Password Change Successful Form                                               */
/*********************************************************************************/

.password-success-container {
    margin: 2rem auto;
}

.password-success-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.password-change-title {
    margin-bottom: 40px;
}

.password-change-message {
    margin-bottom: 40px;
}


/*********************************************************************************/
/* Password Reset Complete Form                                                  */
/*********************************************************************************/

.password-reset-complete-container {
    margin: 2rem auto;
}

h1.password-reset-complete-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.password-reset-complete-message {
    margin-top: 3rem;
}


/*********************************************************************************/
/* Password Reset Sent Form                                                      */
/*********************************************************************************/

.password-reset-sent-container {
    margin: 2rem auto;
}

.password-reset-sent-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.password-reset-sent-message {
    margin-top: 3rem;
}


/*********************************************************************************/
/* Password Reset Form                                                           */
/*********************************************************************************/

.password-reset-form-container {
    margin: 2rem auto;
}

.password-reset-form-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.password-reset-sent-message {
    margin-bottom: 40px;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}


/*********************************************************************************/
/* Reset Form                                                                    */
/*********************************************************************************/

.reset-form-container {
    margin: 2rem auto;
}

h1.reset-form-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.reset-message {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.reset-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}


/*********************************************************************************/
/* Edit Profile Page Form                                                        */
/*********************************************************************************/

.edit-profile-page-container {
    margin: 2rem auto;
}

h1.edit-profile-page-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.edit-profile-page-form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.edit-profile-page-form p {
    margin-bottom: 30px;
}


/*********************************************************************************/
/* User Profile Form                                                             */
/*********************************************************************************/

.profile-container {
    margin: 2rem auto;
}

h1.profile-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.profile-card {
    background-color: transparent;
    border: none;
    display: flex;
}

.profile-row {
    display: flex;
    align-items: center;
}

.profile-pic-container {
    flex: 0 0 120px;
    max-width: 120px;
    display: flex;
}

.profile-pic {
    width: 120px;
    height: 120px;
    /* border-radius: 50%; */
    object-fit: cover;
}

.profile-info {
    flex: 1;
    padding-left: 1rem;
}

.profile-name {
    color: #2E9AFE;
    margin-bottom: 1rem;
}

.profile-links a {
    color: #919191;
    text-decoration: none;
}

.profile-links {
    color: #919191;
    margin-bottom: 1rem;
}

.profile-bio {
    color: #919191;
}


/*********************************************************************************/
/* Edit Profile Form                                                             */
/*********************************************************************************/

.edit-profile-container {
    margin: 2rem auto;
}

h1.edit-profile-title {
    margin-top: 1em;
    margin-bottom: 2em;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.edit-profile-form p {
    margin-bottom: 30px;
}

.edit-profile-form input[type="text"],
.edit-profile-form input[type="email"],
.edit-profile-form textarea {
    max-width: 700px;
}

.password-button {
    background-color: #ffc107;
    color: white;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid transparent;
    border-radius: 0.40rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.password-button:hover {
    background-color: #e0a800;
}

.edit-profile-change-password {
    margin-top: 20px;
}

/*********************************************************************************/
/* Add Post Form                                                                 */
/*********************************************************************************/

.add-post-container {
    width: 1200px;
    margin: 2rem auto;
    margin-left: 0;
    margin-right: auto;
}

h1.add-post-title {
    margin-top: 1em;
    margin-bottom: 2em;
}


/*********************************************************************************/
/* Delete Post Form                                                              */
/*********************************************************************************/

.delete-post-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.delete-post-container h1 {
    margin-bottom: 2rem;
}

.delete-post-form {
    margin-top: 1rem;
}

.form-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 4rem;
}


/*********************************************************************************/
/* Add Comment Form                                                              */
/*********************************************************************************/

.add-comment-container {
    width: 1200px;
    margin: 2rem auto;
    margin-left: 0;
    margin-right: auto;
}

h1.add-comment-title {
    margin-top: 1em;
    margin-bottom: 2em;
}


/*********************************************************************************/
/* Update Comment Form                                                              */
/*********************************************************************************/

.update-comment-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1.update-comment-title {
    margin-bottom: 2em;
}


/*********************************************************************************/
/* Delete Comment Form                                                           */
/*********************************************************************************/

.delete-comment-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

h1.delete-comment-title {
    margin-bottom: 2rem;
}

.delete-form {
    margin-top: 1rem;
}

.form-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 4rem;
}


/*********************************************************************************/
/* Categories Form                                                               */
/*********************************************************************************/

.category-posts {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.category-title, .not-found {
    margin-top: 1em;
    margin-bottom: 2em;
}

.posts-list {
    list-style-type: none;
    padding-left: 0;
}

.post-item {
    margin-bottom: 2rem;
}

.post-actions {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.spacer {
    margin-right: 5px;
}

.post-content {
    margin-top: 1rem;
}


/*********************************************************************************/
/* Article Details Form                                                               */
/*********************************************************************************/

h1.article-details-title {
    margin-bottom: 2rem;
}
