{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ block.super }} {% trans "Ticket" %} #{{ object.pk }}{% endblock title %}
{% block content %}

<div class="container page">
    <div class="content">
        <div class="title" style="margin-bottom: 5em;">
            <h1>{% trans "ticket"|capfirst %} #{{ object.pk }}: {{ object.subject }}</h1>
        </div>
        {% trans "Condition"|capfirst %}: {{ object.get_status_display }}
        <br>
        <br>
        {% trans "posted at"|capfirst %}: {{ object.sent_at }}
        <br>
        <br>
        {% trans "by"|capfirst %}: {{ object.sender }}
        <br>
        <br>
        <br>
        <p>{% trans "Message Content"|capfirst %}:</p>
        <div class="user-content">{{ object.content|linebreaks }}</div>
        <br>
        <br>
        <form action="{{ request.path }}?access_key={{ request.GET.access_key }}" method="post">
            {% csrf_token %}
            <p>{% trans "reply here"|capfirst %}:</p>
            {{ form.as_p }}
            <p><button class="contact-button" type="sutmit">{% trans "Send Message"|capfirst %}</button></p>
        </form>
            <br>
            <br>
            <br>
            <h3>{% trans "replies"|capfirst %}:</h3>
            {% for reply in object.messages.all %}
                {% trans "from"|capfirst %}: {{ reply.sender_name }}
                <br>
                {% trans "to"|capfirst %}: {{ reply.recipient_name }}
                <br>
                {% trans "posted at"|capfirst %}: {{ reply.sent_at }}
                <br>
                <br>
                <div class="user-content">{{ reply.content|linebreaks }}</div>
            {% endfor %}
    </div>

{% endblock content %}
