{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Password Change Form{% endblock %}
{% block content %}

<div class="password-change-container">
    <h1 class="password-change-title">Password Change Form:</h1>

<div class="form-group">
    <form method="POST" class="password-change-form">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="form-actions">
            <input type="submit" value="Change Password" class="custom-button">
            <a href="{% url 'discussion' %}" class="custom-button">Return To Homepage</a>
        </div>
    </form>
</div>

{% endblock %}
