{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Logging in to the discussion page"|capfirst %}{% endblock %}
{% block content %}

<div class="login-container">
    <h1 class="login-form-title">{% trans "Login"|capfirst %}:</h1>
    <form method="POST" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <input type="submit" value="{% trans "Login"|capfirst %}" class="custom-button">
            <a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
        </div>
        <div class="auth__actions">
            <a href={% url 'reset_password' %}>{% trans "Forget Password?"|capfirst %}</a>
        </div>
        <div class="auth__alternative">
            <p>{% trans "Don't have an Account?"|capfirst %} <a href="{% url 'registration' %}">{% trans "Sign Up"|capfirst %}</a></p>
        </div>
    </form>
</div>

{% endblock %}
