{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Registration Form{% endblock %}
{% block content %}

<div class="registration-container">
    <h1 class="registration-form-title">Registration Form:</h1>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small style="display: block; margin-top: 5px;">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            </div>
        {% endfor %}
        <br>
        <div class="buttons-container">
            <input type="submit" value="Submit Registration" class="custom-button">
            <a href="{% url 'discussion' %}" class="custom-button">Return To Homepage</a>
        </div>
    </form>
</div>

{% endblock %}
