{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Password Reset Form"|capfirst %}{% endblock %}
{% block content %}

<div class="password-reset-form-container">
    <h1 class="password-reset-form-title">{% trans "Password Reset"|capfirst %}:</h1>
    <p class="password-reset-form-message">{% trans "Forgotten your password?"|capfirst %}
        <br>
        <p>{% trans "Enter your email address below, and we’ll email instructions for setting a new one."|capfirst %}</p>

    <form method="POST" class="password-reset-form">
        {% csrf_token %}
        <br>
        <div class="form-group">
            <label for="userName" class="form-label">{% trans "Enter your email address"|capfirst %}:</label>
            <input type="email" class="form-input" id="userName" name="email" placeholder="{% trans "Please enter your email address"|capfirst %}" required>
        </div>

        <div class="form-actions">
            <input type="submit" value="{% trans "Reset My Password"|capfirst %}" class="custom-button">
            <a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
        </div>
    </form>
</div>

{% endblock %}
