{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Enter A New Password To Change"|capfirst %}{% endblock %}
{% block content %}

<div class="reset-form-container">
	<h1 style="reset-form-title">{% trans "Enter A New Password To Change"|capfirst %}:</h1>

	<p class="reset-message">{% trans "Please enter your new password twice so we can verify you typed it in correctly."|capfirst %}</p>

	<form class="form" method="POST" class="reset-form">
		{% csrf_token %}
		{{ form.as_p }}

		<div class="form-actions">
			<button type="submit" class="custom-button">{% trans "Change My Password"|capfirst %}</button>
			<a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
		</div>
	</form>
</div>

{% endblock %}
