{% extends 'discussion/base.html' %}
{% load static %}
{% block title %}Password reset sent{% endblock %}
{% block content %}

<div class="password-reset-sent-container">
	<h1 style="password-reset-sent-title">Password reset sent</h1>
	<p class="password-reset-sent-message">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
	<br>
	Enter your email address below, and we’ll email instructions for setting a new one.</p>
	<br>
	<div class="form-actions">
        <a href="{% url 'discussion' %}" class="custom-button">Return To Homepage</a>
    </div>
</div>

{% endblock %}
