{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}

<div class="password-reset-complete-container">
    <h1 style="password-reset-complete-title">Password Reset Complete!</h1>
    <p class="password-reset-complete-message">Your password has been set. You may go ahead and log in now.</p>
    
    <div class="form-actions">
        <a href="{% url 'login' %}" class="custom-button">Login</a>
        <a href="{% url 'discussion' %}" class="custom-button">Return To Homepage</a>
    </div>

{% endblock %}
