{% extends 'discussion/base.html' %}
{% load static %}
{% block title %}Password Reset Form{% endblock %}
{% block content %}

<div class="password-reset-form-container">
    <h1 class="password-reset-form-title">Password Reset</h1>
    <p class="password-reset-form-message">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

    <form class="password-reset-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="userName" class="form-label">Enter your email address:</label>
            <input type="email" class="form-input" id="userName" name="email" placeholder="Please enter your email address" required>
        </div>

        <input type="submit" value="Reset My Password" class="custom-button">
        <a href="{% url 'discussion' %}" class="custom-button">Return To Homepage</a>
    </form>
</div>

{% endblock %}
