{% extends 'discussion/base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Password reset sent"|capfirst %}{% endblock %}
{% block content %}

<div class="password-reset-sent-container">
	<h1 style="password-reset-sent-title">{% trans "Password reset sent"|capfirst %}!</h1>
	<p class="password-reset-sent-message">{% trans "We’ve emailed you instructions for setting your password, if an account exists with the email you entered, You should receive them shortly."|capfirst %}</p>
	<br>
	<div class="form-actions">
        <a href="{% url 'discussion' %}" class="custom-button">{% trans "Return To Homepage"|capfirst %}</a>
    </div>
</div>

{% endblock %}
