{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Event List{% endblock %}
{% block content %}

<div class="container page">
	<div class="content">
		<div class="title" style="margin-bottom: 5em;">
			<h2>Event <span class="byline">List</span></h2>
		</div>

        <ul class="event-list">
            {% for event in events %}
                <li class="event-item">
                    <img class="event-image" src="{{ event.image.url }}" alt="{{ event.title }}">
                    <div class="event-details">
                        <p class="event-title"><a href="{% url 'event_detail' event.pk %}">{{ event.title }}</a></p>
                        <p class="event-date">{{ event.date|date:"Y-m-d" }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
