{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}Renginių apžvalga{% endblock %}
{% block content %}

<div id="page" class="container">
	<div id="content">
        <div class="title" style="margin-bottom: 5em;">
			<h2>Automobilių mėgėjų klubo  <span class="byline"><br>GRAND MEET '2023, 2023-10-14</span></h2>
		</div>

		<div class="pic place">					
			<a href="{% static 'photos/events/grand_meet_2023/grand_meet.jpg' %}" data-lightbox="example-set" data-title="GRAND MEET 2023">
				<img src="{% static 'photos/events/grand_meet_2023/grand_meet.jpg' %}" alt="GRAND MEET 2023">
			</a>
		</div>
		<br>
		<p class="style3">2023 m. spalio 14 d. Automobilių mėgėjų klubas organizuoja rudens GRAND MEET‘ą 2023 į kurį rinksis
			automobilių mylėtojai, draugai, svečiai – renginys yra atviras ir kviečiami visi norintys
			prisijungti ir sudalyvauti.
		</p>

		<p class="style3">Renginyje planuoja dalyvauti svečiai iš kaimyninių šalių.</p>
		<p class="style3">Tradiciškai mūsų šventė bus padalinta į dvi dalis: dieninę ir vakarinę.</p>
		<p class="style3">Dieninėje dalyje aplankysime KERNAVĘ, o renginio vakarinė dalis bus švenčiama DALIOS SODYBOJE.</p>
		</br>
		<p class="style3">Kernavės istorinis kultūrinis rezervatas</p>
		<div class="photo-gallery">
			<div class="pic place">					
				<a href="{% static 'photos/events/grand_meet_2023/01.jpg' %}" data-lightbox="example-set" data-title="KERNAVĖS PILIAKALNIAI">
					<img src="{% static 'photos/events/grand_meet_2023/01.jpg' %}" alt="KERNAVĖS PILIAKALNIAI">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/02.jpg' %}" data-lightbox="example-set" data-title="KERNAVĖS VAIZDAS MŪSŲ LAIKAIS">
					<img src="{% static 'photos/events/grand_meet_2023/02.jpg' %}" alt="KERNAVĖS VAIZDAS MŪSŲ LAIKAIS">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/03.jpg' %}" data-lightbox="example-set" data-title="KERNAVĖS VAIZDAS VIDURAMŽIAIS">
					<img src="{% static 'photos/events/grand_meet_2023/03.jpg' %}" alt="GRAND MEET 2023">
				</a>
			</div>
		</div>
		<br>
		<p class="style3"><a href="http://www.kernave.org/" target="http://www.kernave.org/">http://www.kernave.org/</a></p>
		<p class="style3">Dieninės dalies metu bus numatytas pietų laikas, planuojami pietūs restorane HBH VILNIUS.</p>
		<p class="style3">Restoranas mums bus pakeliui, pietums neturėtume išleisti daugiau nei 20 EUR/1 žm.</p>

		<img src="{% static 'photos/weekly_meetings/hbh_logo.png' %}" style="margin-top: 6em; margin-bottom: 1em;" alt="HBH">

		<div class="photo-gallery">
			<div class="pic place">					
				<a href="{% static 'photos/events/grand_meet_2023/hbh_vilnius_1.jpg' %}" data-lightbox="example-set" data-title="HBH VILNIUS">
					<img src="{% static 'photos/events/grand_meet_2023/hbh_vilnius_1.jpg' %}" alt="HBH VILNIUS">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/hbh_vilnius_2.jpg' %}" data-lightbox="example-set" data-title="HBH VILNIUS">
					<img src="{% static 'photos/events/grand_meet_2023/hbh_vilnius_2.jpg' %}" alt="HBH VILNIUS">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/hbh_vilnius_3.jpg' %}" data-lightbox="example-set" data-title="HBH VILNIUS">
					<img src="{% static 'photos/events/grand_meet_2023/hbh_vilnius_3.jpg' %}" alt="HBH VILNIUS">
				</a>
			</div>
		</div>

		<br>

		<div class="photo-gallery">
			<div class="pic place">					
				<a href="{% static 'photos/events/grand_meet_2023/hbh_vilnius_4.jpg' %}" data-lightbox="example-set" data-title="HBH VILNIUS">
					<img src="{% static 'photos/events/grand_meet_2023/hbh_vilnius_4.jpg' %}" alt="HBH VILNIUS">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/hbh_vilnius_5.jpg' %}" data-lightbox="example-set" data-title="HBH VILNIUS">
					<img src="{% static 'photos/events/grand_meet_2023/hbh_vilnius_5.jpg' %}" alt="HBH VILNIUS">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/hbh_vilnius_6.jpg' %}" data-lightbox="example-set" data-title="HBH VILNIUS">
					<img src="{% static 'photos/events/grand_meet_2023/hbh_vilnius_6.jpg' %}" alt="HBH VILNIUS">
				</a>
			</div>
		</div>
		<br>
		<p class="style3"><a href="http://www.hbh.lt/" target="http://www.hbh.lt/">http://www.hbh.lt/</a></p>
		<p class="style3">Po skanių pietų mūsų kelionė tęsis toliau. Mes keliausime į DUBINGIŲ MINI ZOOPARKĄ.</p>
		<p class="style3">Ši vieta patiks ir mažam, ir jaunam, ir senam. Tai didelis džiaugsmas mažiems ir dideliems.
			Vienoje vietoje surinkta daugybė egzotiškų gyvūnų, yra į ką akis paganyti. Pats parkas kol kas yra vis dar statomas ir jį galima aplankyti visiškai nemokamai.</p>

		<div class="photo-gallery">
			<div class="pic place">					
				<a href="{% static 'photos/events/grand_meet_2023/zoo.jpg' %}" data-lightbox="example-set" data-title="DUBINGIŲ ZOOPARKAS">
					<img src="{% static 'photos/events/grand_meet_2023/zoo.jpg' %}" alt="DUBINGIŲ ZOOPARKAS">
				</a>
			</div>

			<div class="pic place">	
				<a href="{% static 'photos/events/grand_meet_2023/zoo2.jpg' %}" data-lightbox="example-set" data-title="DUBINGIŲ ZOOPARKAS">
					<img src="{% static 'photos/events/grand_meet_2023/zoo2.jpg' %}" alt="DUBINGIŲ ZOOPARKAS">
				</a>
			</div>
		</div>
		</br>
		<h2 class="title">DIENINĖS DALIES PROGRAMA:</h2>
		<p class="style3">Visas renginys startuos 12.00 val.</p>
		<p class="style3">11.30 val. renkamės, apsikabinimai, bučiuojamės, ašaros ir kitokie tradiciniai susitikimo ritualai;</p>
		<p class="style3">12.00 val. išvykimas į KERNAVĘ;</p>
		<p class="style3">12.30 val. – 14.00 val. pasivaikščiojimas po Kernavės istorinį kultūrinį rezervatą;</p>
		<p class="style3">14.30 val. – 16.00 val. pietūs HBH VILNIUS restorane;</p>
		<p class="style3">16.30 val. – 18.00 val. kelionė ir pasivaikščiojimas po DUBINGIŲ MINI ZOOPARKĄ;</p>
		</br>
		<h2 class="title">VAKARINĖ RENGINIO DALIS:</h2>
		<img src="http://www.daliossodyba.lt/wp-content/themes/daliosodyba15/images/ds-logo-s.png" class="center" style="float:center;" alt="DALIOS SODYBA">
		<p class="style3">Po dieninės renginio dalies visi keliaujame į kaimo turizmo sodybą „DALIOS SODYBA“</p>
		<p class="style3"><a href="http://www.daliossodyba.lt/" target="http://www.daliossodyba.lt/">http://www.daliossodyba.lt/</a></p>
		<p class="style3">Čia važiuojame jau nebe pirmą kartą.</p>
		<p class="style3">Tėveliai, norintys atvažiuoti su vaikais, parašykite iš anksto, kad tinkamai sukomplektuoti Jūsų rezervaciją.</p>
		<p class="style3">Dabar linksmiausia dalis, kiek visas šis malonumas mums kainuos...</p>
		<p class="style3"><b>Visa vakarinė dalis su maitinimu ir apgyvendinimu mums kainuos 70 EUR 1 žmogui.</b></p>
		<p class="style3">Vaikams iki 3 metų renginys nemokamas.</p>
		<p class="style3">Sekmadienio rytą mūsų lauks pusryčiai, jie į bendrą sumą įskaičiuoti.</p>
		<p class="style3">Dalinkitės šia informacija su kitais, kvieskite draugus, patys dalyvaukite.</p>
		<p class="style3">Lauksime Jūsų!</p>
		</br>
		<h2 class="title">DALYVAUS:</h2>
		<p class="style3">
			01. ******** (RENGINIO ORGANIZATORIUS);</br>
			02. *******;</br>
			03 – 04. ********-*** +1;</br>
			05 – 06. ****** +1;</br>
			07 – 09. ******** +2;</br>
			10 – 12. ********** +2;</br>
			13. ********* *.;</br>
			14 – 15. ***.* +1;</br>
			16 – 17. ******* +1;</br>
			18 – 21. **** +3;</br>
			22 – 25. ************ +3;</br>
			26 – 27. ******* +1;</br>
			28 – 29. *** +1;</br>
			30 – 33. ****_** +3;</br>
			34 – 36. *** *** +2;</br>
			37 – 38. ****_**** + *****;</br>
			39 – 40. **** +1;</br>
			41. *******;</br>
			42. ********;</br>
			43. </br>
			</p>
</div>

{% endblock %}
