{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<div id="page" class="container">
	<div id="content">
		<div class="title" style="margin-bottom: 5em;">
			<h2>Automobilių mėgėjų <span class="byline">klubas</span></h2>
			</div>
			<p style="margin-bottom: 2em;">Tai <strong>stipri bendruomenė</strong>, aktyviai veikianti Lietuvoje jau daug metų. 
			Turime virš 200 aktyvių narių, o Facebooke mus seka tūkstančiai sekėjų.</p>

			<h2 style="margin-bottom: 1em;">Reguliariai organizuojami susitikimai</h2>

			<p>Kiekvieną penktadienį mes susirenkame, kad šiek tiek pasimėgautume automobiliais, padiskutuotume apie techniką ir pan.</p>

			<h2 style="margin-top: 2em; margin-bottom: 1em;">Skirtas visiems automobilių mylėtojams</h2>

			<p>Kad taptumėte mūsų nariu, nereikia turėti būtinai tik seną ar tik naują automobilį. 
				Pakanka turėti tokį automobilį, kuri labai vertinate.</p>

			<h2 style="margin-top: 2em; margin-bottom: 1em;">Atraskite automobilių pasaulį su mumis!</h2>

			<p>Esame ne tik klubas, bet ir bendruomenė, kuri turi savo tradicijas, svarbias šventes ir žaidimus.</p>

			<h2 style="margin-top: 2em; margin-bottom: 1em;">Klubo atributika</h2>

			<p>Galite įsigyti klubo atributiką: nuo marškinėlių iki pakabučių ir atvirukų.</p>

			<h2 style="margin-top: 2em; margin-bottom: 1em;">Susitikimai ir renginiai</h2>

			<p>Pridėkite mūsų susitikimus į savo kalendorių ir prisijunkite prie mūsų renginių.</p>

			<h2 style="margin-top: 2em; margin-bottom: 1em;">Nariai ir jų automobiliai</h2>

			<p>Peržiūrėkite mūsų narių automobilius ir sužinokite daugiau apie mūsų bendruomenę.</p>
			</div>
	
{% endblock %}
