{% extends 'base.html' %}
{% load static %}
{% block title %}Kassavaitiniai susitikimai{% endblock %}
{% block content %}

<div id="page" class="container">
	<div id="content">
		<div class="title" style="margin-bottom: 5em;">
			<h2>Kassavaitiniai <span class="byline">susitikimai</span></h2>
		</div>

			<p>Penktadieniais, kai visi darbai jau yra nudirbti ir prasideda savaitgalis, 20.00 val. 
				mes renkamės pasilabinti, pasidalinti nuveiktos savaitės įspūdžiais, 
				apžiūrėti vienas kitų automobilius ir šiaip linksmai praleisti laiką.</p>

			<p>Mes neužsicikliname prie kažkokios konkrečios vietos. Galbūt, tai tik laikinas dalykas.</p>

			<p>Bet kokiu atveju susitikimo vieta yra bendrai sutariama iš anksto,
				o informacija apie konkrečią susitikimo datą, laiką ir vietą yra skelbiama <strong>TELEGRAM</strong>
				ir <strong>VIBER</strong> konverencijose.</p>

			<p>Jei vis dar neesate prisijungęs prie mūsų, susisiekite su mumis <a href="contact.html" target="KONTAKTAI">
				<strong>KONTAKTAI</strong></a> skiltyje nurodytais kontaktais,
				prisijunkite prie bendros <a href="https://t.me/djvokator" target="_blank"><strong>TELEGRAM</strong></a>
				arba <a href="viber://add?number=37062476198&text=Viber"><strong>VIBER</strong></a> konferencijos
				ir diskutuokite su visais dalyviais gyvai.</p>
				
			<p>Iki susitikimo...</p>

			<h2 style="margin-top: 4em; margin-bottom: 4em;">Dažniausiai lankomos vietos:</h2>

			<img src="{% static 'photos/weekly_meetings/fokus_pica.jpg' %}" class="image image-full" alt="FOKUS PICA">
			<p>Ankstesnė pasibuvimo vieta. Pastaruoju metu čia nesilankom.</p>

			<img src="{% static 'photos/weekly_meetings/charlie_logo.png' %}" style="margin-top: 4em; margin-bottom: 1em;" alt="CHARLIE PIZZA">

			<p><strong>CHARLIE PIZZA</strong> – tai moderni ir jauki vieta visiems, 
				mėgstantiems picas ir lengvus užkandžius. Skanus maistas ir geros kainos!</p>
			<p>Turime 15 proc. nuolaidą su <strong>"NORIU"</strong> kortele.
			<a href="https://www.ozas.lt/apie/maitinimas/charlie-pizza?location=a3_08" target="_blank" class="image image-full"><img src="{% static 'photos/weekly_meetings/charlie_pizza.png' %}" alt="CHARLIE PIZZA"></a>
			<p><a href="https://www.charliepizza.lt/shop/products" target="CHARLIE PIZZA RESTORANO MENIU">CHARLIE PIZZA RESTORANO MENIU</a></p>
			<p><a href="http://charlie.lt/" target="CHARLIE PIZZA">CHARLIE PIZZA tinklalapis</a></p>
			<p><a href="https://www.facebook.com/charliepizza" target="CHARLIE PIZZA">CHARLIE PIZZA Facebook</a></p>
			<p><a href="https://www.instagram.com/charlie_pizza_lt/" target="CHARLIE PIZZA">CHARLIE PIZZA Instagram</a></p>

				<h2 style="margin-top: 4em; margin-bottom: 1em;">Kaip atvykti į CHARLIE PIZZA:</h2>
			<p>Trumpame video Jūs galėsite pamatyti mūsų tikslią susitikimų vietą prie <strong>CHARLIE PIZZA</strong> picerijos.</p>
			<p>Startuojame nuo oficialaus <strong>BMW</strong> atstovo Lietuvoje <strong>KRASTA AUTO</strong> ir judame link nustatyto taško.</p>
			<p>Geros Jums peržiūros ir iki susitikimo!</p>
			<iframe width="800" height="450" src="https://www.youtube.com/embed/xMs45uJ4moQ?si=655GASxb-f0Uh753" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

			<img src="{% static 'photos/weekly_meetings/hbh_logo.png' %}" style="margin-top: 6em; margin-bottom: 1em;" alt="HBH">

			<p>Kartais kassavaitinius susitikimus organizuojame šiame restorane. Informaciją apie konkrečią susitikimo datą, 
				laiką šiame restorane yra skelbiama <strong>TELEGRAM</strong> ir <strong>VIBER</strong> konverencijose.</p>
			<p><strong>HBH VILNIUS RESTORANAS</strong> – 5 km už Vilniaus miesto Molėtų plento link esantis restoranas.</p>
			<p>Tai kultūrines lietuviško maisto vertybes puoselėjantis, tačiau ir šiuolaikiniams poreikiams patiekalus adaptuojantis restoranas.</p>
			
			<a href="https://hbhvilnius.lt/galerija/" target="HBH VILNIUS" class="image image-full"><img src="{% static 'photos/weekly_meetings/hbh_vilnius.jpg' %}" style="margin-top: 2em; margin-bottom: 2em;" alt="HBH VILNIUS"></a>
			<p><a href="https://hbhvilnius.lt/valgiarastis/" target="HBH VILNIUS RESTORANO MENIU">HBH VILNIUS RESTORANO MENIU</a></p>
			<p><a href="https://hbhvilnius.lt/pagrindinis/apie-mus/" target="HBH VILNIUS">HBH VILNIUS tinklalapis</a></p>
			<p><a href="https://www.facebook.com/HBHVilnius/" target="HBH VILNIUS">HBH VILNIUS Facebook</a></p>
			<p><a href="https://www.instagram.com/vilniushbh/" target="HBH VILNIUS">HBH VILNIUS Instagram</a></p>
	</div>

{% endblock %}
