{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Club Merchandise"|capfirst %}{% endblock %}
{% block content %}

<div id="page" class="container">
	<div id="content">
		<div class="title" style="margin-bottom: 5em;">
			<h2>Klubo <span class="byline">atributika</span></h2>
		</div>
			<p>Automobilių mėgėjų klubas siūlo įsigyti gaminamą atributiką: nuo marškinėlių iki pakabukų ir atvirukų.</p>
			<p>Šiuo metu klubas siūlo Jums įsigyti <strong>dekoratyvines pagalvėles</strong>, kurių dydis 40x40 cm.</p>
			<p>Mūsų atributus gali įsigyti bet kas kas tik nori.
				Mes neskirstome žmones į privilegijuotus ir neprivilegijuotus.</p>
			<p>Dėkoju už supratimą!</p>
			<p>O įsigijusiems mūsų atributikos - gerų įspūdžių!</p>

			<h2 style="margin-top: 4em; margin-bottom: 1em;">Neturite idėjų?</h2>

			<p>Nežinote ką padovanoti savo draugui, ar draugei?</p>
			<p>O gal tiesiog norite papuošti savo namus, arba automobilio galinę palangę?</p>
			<p>Gal Jūs norite įamžinti savo megstamą automobilį ant pagalvėlės?</p>

				<h2 style="margin-top: 2em; margin-bottom: 1em;">Jūs galite:</h2>

			<p>- paįvairinti savo aplinką jaukiomis pagalvėlėmis;
			<p>- suteikti daug džiaugsmo savo artimam žmogui;</p>
			<p>- išsirinkti iš mūsų pateiktų ir pagamintų pavyzdžių;</p>
			<p>- užsisakyti pagalvėlę su savo automobilio foto nuotrauka.</p>

				<h1 class="merchandise-title">GALIMI MŪSŲ SIŪLOMI PAVYZDŽIAI:</h1>

				<div class="merchandise-row">
					{% for merchandise in merchandise %}
						<div class="merchandise-item">
							<a href="{{ merchandise.image.url }}" data-lightbox="example-set" data-title="{{ merchandise.title }}">
								<img src="{{ merchandise.image.url }}" alt="{{ merchandise.title }}">
							</a>
							<small>
							<p>{{ merchandise.title }}<br>
							Price: {{ merchandise.price }}EUR<br>
							Quantity: {{ merchandise.quantity }}</p>
							<p class="{% if merchandise.is_active %}active{% else %}inactive{% endif %}">
								{% if merchandise.is_active %}Active{% else %}Not Active{% endif %}
							</p>
							</small>
						</div>
					{% endfor %}
				</div>

				<h2 style="margin-top: 4em; margin-bottom: 1em;">Reikalavimai Jūsų nuotraukai:</h2>

					<p>Norint užsisakyti pagalvėlę su savo automobilio foto nuotrauka, 
						BŪTINA, kad Jūsų pateikta nuotrauka turėtų būti ne mažesnė nei 
						2000х2000 pikselių ir ne didesnė nei 4700х4700 pikselių.</p>
					<p>Iš mažesnės nei 2000x2000 pikselių nuotraukos, pagalvėlės kokybiškai pagaminti nesigaus.
						Turėkite tai omenyje.</p>
					<p>Gali būti bet kokios Jūsų nuotraukos su automobiliais.</p>
					<p>Kitoje pagalvėlės pusėje galime atspausdinti klubo logotipą, 
						arba galime įkelti tą pačią Jūsų pateiktą nuotrauką.</p>
					<p>Visos detalės aptariamos asmeniškai su kiekvienu.</p>

				<h2 style="margin-top: 2em; margin-bottom: 5em;">Pagalvėlės kaina: 10 EUR/vnt.</h2>

				<h2 style = "margin-bottom: 1em;">Atsiskaitymo būdai:</h2>

					<p>1. Atsiimant grynais;</p>
					<p>2. Banko pavedimu;</p>
					<p>3. Per PAYPAL sistemą pervedant Eurais.</p>

				<h2 style="margin-top: 2em; margin-bottom: 1em;">Pristatymas:</h2>

					<p>Galime išsiųsti į bet kokį Lietuvos kampelį.
						Siuntimo išlaidos į Nidą aptariamos individualiai.</p> 
					<p>Taip pat įmanomas siuntimas į užsienį. 
						Siuntimo išlaidos į užsienį aptariamos individualiai.</p>
					<p>Siuntimo kaina siunčiant per "Lietuvos paštas" - 3 EUR/vnt.</p>
					<p>Siuntimo kaina siunčiant per "LP Express", "DPD", "Omniva", "Venipak", "Smart Post" paštomatus - 2,50 EUR/vnt.</p>
					<p>Siuntimo kaina siunčiant per autobusų stotį (iš Vilniaus) - 5 EUR/vnt.</p>
    </div>

{% endblock %}
    